$White: hsl(0, 0%, 100%);
$PaleBlue: hsl(221, 100%, 96%);
$LightLavender: hsl(188, 46%, 84%);
$DarkGrayBlue: hsl(224, 30%, 27%);

$LightSlateBlue: hsl(233, 75%, 68%);
$LightRoyalBlue: rgb(46, 43, 233);
$VioletBlue: hsla(256, 72%, 46%, 1);
$PersianBlue: hsla(241, 72%, 46%, 0);

$LightRed: hsl(0, 40%, 84%);
$OrangeyYellow: hsl(38, 53%, 83%);
$GreenTeal: hsl(164, 48%, 88%);
$CobaltBlue: rgb(196, 200, 243);

* {
    box-sizing: border-box;
}

.container {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 85vh;
    flex-direction: column;
    border: 2px solid $PaleBlue;
    width: 600px;
    border-radius: 25px;
    margin-top: 50px;
    background-color: $LightLavender;
    padding-bottom: 10px;

    h5 {
        font-size: 15px;
    }

    .container-pace {
        margin-top: 10px;
        border: 2px solid $LightLavender;
        border-radius: 25px;
        width: 420px;
        padding: 20px;
        background-color: #fff;
    }

    .container-speed {
        margin-top: 30px;
        border: 2px solid $LightLavender;
        border-radius: 25px;
        width: 420px;
        padding: 20px;
        background-color: #fff;
    }

    .container-comment {
        margin-top: 30px;
        margin-bottom: 10px;
        border: 2px solid $PaleBlue;
        border-radius: 25px;
        width: 420px;
        padding: 25px;
        background-color: #fff;
    }

    .choice {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: baseline;
    }
}

.container-pace-infos {
    display: flex;
    flex-direction: column;

    .pace-current {
        display: flex;
        justify-content: space-between;
        border: 2px solid $LightLavender;
        border-radius: 15px;
        margin: 5px;
        padding: 5px 10px 0px 10px;
        background-color: $GreenTeal;
    }

    .pace-values {
        display: flex;
        justify-content: space-between;
        border: 2px solid $LightLavender;
        margin: 5px;
        border-radius: 15px;
        background-color: $GreenTeal;
        padding: 5px 10px 0px 10px;
    }
}


.container-speed-infos {
    display: flex;
    flex-direction: column;

    .speed-current {
        display: flex;
        justify-content: space-between;
        border: 2px solid $LightLavender;
        margin: 5px;
        border-radius: 15px;
        background-color: $GreenTeal;
        padding: 5px 10px 0px 10px;

    }

    .speed-values {
        display: flex;
        justify-content: space-between;
        border: 2px solid $LightLavender;
        margin: 5px;
        border-radius: 15px;
        background-color: $GreenTeal;
        padding: 5px 10px 0px 10px;
    }
}


.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select {
    font-size: inherit;
    /* inherit size from .custom-dropdown */
    padding: .5em;
    /* add some space*/
    margin: 0;
    /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: $GreenTeal;
    color: #444;
}

@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em;
        /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after {
        /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%;
        margin-top: -.5em;
    }

    .custom-dropdown::before {
        /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0, 0, 0, .3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0, 0, 0, .1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em;
        bottom: .5em;
        background-color: #ffffff;
        border-left: 1px solid rgba(0, 0, 0, .1);
    }

    .custom-dropdown--white::after {
        color: rgba(0, 0, 0, .9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select {
            padding-right: .9em
        }

        .custom-dropdown--large .custom-dropdown__select {
            padding-right: 1.3em
        }

        .custom-dropdown--small .custom-dropdown__select {
            padding-right: .5em
        }
    }
}

// source for custom dropdown: https://red-team-design.developpez.com/tutoriels/css/donner-style-listes-deroulantes/