<style>
    .navbar-bg {
        background-color: hsl(211, 72%, 89%); /* Change this color to your desired background color */
    }
</style>

<h1 class="text-center">Admin Dashboard</h1>

<div class="container-fluid navbar-bg">
    <div class="">
        

        <div class="">
            <div class="row">
                <div class="col-md-6">
                    <div class="m-4"><app-total-users></app-total-users></div>
                    <div class="m-4"><app-total-trainers-request></app-total-trainers-request></div>
                </div>
                <div class="col-md-6">
                    <div class="m-4"><app-total-messages></app-total-messages></div>
                    <div class="m-4"><app-total-trainers></app-total-trainers></div>
                </div>
            </div>
        </div>
    </div>
</div>
