<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
  </head>
  <footer>
    <div class="nav-bas-page">
      <a class="bottom-page-element" href="page-principale/dashboard">
        <div class="bottom-page-element">
          <span class="material-symbols-outlined">&#xe8ff;</span>
          <h3 class="bottom-page-link">Tableau de bord</h3>
        </div>
      </a>
      <a class="bottom-page-element" href="page-principale/PageActiviter">
        <div class="bottom-page-element">
          <span class="material-symbols-outlined">&#xf81f;</span>
          <h3 class="bottom-page-link">Activité</h3>
        </div>
      </a>
      <a class="bottom-page-element" href="statistics/summary">
        <div class="bottom-page-element">
          <span class="material-symbols-outlined">&#xf190;</span>
          <h3 class="bottom-page-link">Statistiques</h3>
        </div>
      </a>
    </div>
  </footer>
</html>
