<form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="mb-3">
      <label for="id" class="form-label">Numero:</label>
      <input type="text" class="form-control" id="id" formControlName="id" required>
      <div *ngIf="showMissingId()" class="text-danger">Your admin id is required.</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe:</label>
      <input type="password" class="form-control" id="password" formControlName="password" required>
      <div *ngIf="showMissingPassword()" class="text-danger">Password is required.</div>
    </div>  
    <button type="submit" class="btn btn-primary">Connecter</button>
  </form> 
  