<form [formGroup]="resetPasswordForm" (ngSubmit)="onCreate()"> 
    <div class="mb-3">
        <label for="newPassword" class="form-label">Ecrire le nouveau mot de passe: </label>
        <div class="input-group">
            <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required>
            <span class="input-group-text" id="toggleNewPassword" (click)="togglePasswordVisibility('newPassword')">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </span>
        </div>
        <div *ngIf="showMissingNewPassword()" class="text-danger">nouveau mot de passe requis</div>
    </div>   
    <div class="mb-3">
        <label for="confirmNewPassword" class="form-label">Confirmer le nouveau mot de passe: </label>
        <div class="input-group">
            <input type="password" class="form-control" id="confirmNewPassword" formControlName="confirmNewPassword" required>
            <span class="input-group-text" id="toggleConfirmNewPassword" (click)="togglePasswordVisibility('confirmNewPassword')">
                <i class="fa fa-eye" aria-hidden="true"></i>
            </span>
        </div>
        <div *ngIf="showMissingConfirmNewPassword()" class="text-danger">confirmation requise</div> 
    </div>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Confirmer</button>
</form>   