th {
    background-color: #cde1fe;
    color: white;
}

#loader {
    color: #008cff;
    font-family: 'Helvetica Neue', 'calibri';
    font-size: 14px;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}
