<div class="m-4 p-4">

<h1 class="m-8 p-4 text-center" mat-dialog-title>Voulez-vous vraiment devenir entraîneur?</h1>
<div mat-dialog-content class="text-center mb-3 p-8">
  <p>En appuyant sur "Confirmer"votre demande va etre analysee et  traite par l'administration ou
     "Annuler" pour revenir en arrière.</p>
</div>
<div mat-dialog-actions class="d-flex flex-column align-items-center">
  <button mat-button class="btn btn-success mb-3" (click)="onSave()">Confirmer</button>
  <button mat-button class="btn btn-danger" (click)="onCancel()">Annuler</button>
</div>
</div>

